*{
    margin:0px;
    font-size:42px;
    font-family:Arial, Helvetica, sans-serif;
}
/*class Names*/
.main-container{
display:flex;
position:relative;
flex-direction:column;
align-items:center;
background:black;
width:400px;
height: 1000px;
gap:10px;
padding:10px;
border-radius: 5%;
}

.main-box1{

    display: inline-block;
    position:relative;
    background:rgb(255, 0, 0);
    width:300px;
    height:300px;
    vertical-align: top;
    padding: 20px;
    border-radius: 20%;
}

.circle3 {
    position: absolute;
    right: 20px;
    bottom: 15px;
    background:rgb(101, 0, 0);
    width:100px;
    height:100px;
    border-radius: 100%;
    align-content:center;
    text-align: center;
}

.main-box2{

    display: inline-block;
    position:relative;
    background:rgb(234, 255, 0);
    width:300px;
    height:300px;
    vertical-align: top;
    padding: 20px;
    margin-top: 20px;
    border-radius: 40%;
}

.circle{
    position: absolute;
    left: 20px;
    top: 30px;
    background:rgb(255, 111, 0);
    width:100px;
    height:100px;
    border-radius: 100%;
    align-content:center;
    text-align: center;
}

.main-box3{

    display: inline-block;
    position:relative;
    background:rgb(16, 250, 16);
    width:300px;
    height:300px;
    border-radius: 100%;
    vertical-align: top;
    padding: 20px;
    text-align: center;
   
}

.circle2 {
    position: absolute;
    bottom: 115px;
    left: 115px;
    background:rgb(15, 89, 0);
    width:100px;
    height:100px;
    border-radius: 100%;
    align-content:center;
    text-align: center;
}



.circle > p{
    font-size:20px;
    color:white;
    
}