*{
    box-sizing: border-box;
}

body {
    margin:0;
}

.container {
    display: flex;
    flex-direction: column;
    background: rgb(0, 136, 0);
    width: 100vw;
        height: 100vh;
}

.top{
    display: flex; 
     flex-direction: row;
     background: #020024;
     background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    height: 20%;
    width:100%;
   
   
    gap: 10px;
    padding: 10px;
}
.bottom{
    display:flex;
    background: orange;
    width:100vw;
        height: 80vh;
}

.top-item{
    background:grey;
    height: 100%;
    width:100%;
}

.right-item{
    display:flex;
    background: #fff700;
background: linear-gradient(90deg, rgba(255, 247, 0, 1) 20%, rgba(230, 171, 8, 1) 58%, rgba(253, 29, 29, 1) 100%);
    height: 25%;
    width:100%;
    gap: 10px;
    padding: 10px;
}

.right{
    display:flex;
    flex-direction: column;
    background: #FD1D1D;
    background: linear-gradient(90deg, rgba(253, 29, 29, 1) 20%, rgba(230, 171, 8, 1) 58%, rgba(221, 255, 0, 1) 100%);
    height: 100%;
    width:100%;
    gap:10px;
    padding:10px;
}

.left{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    background: #833AB4;
    background: linear-gradient(90deg,rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
    height: 100%;
    width:100%;
}
.left-item{
    display:flex;
    justify-content: center;
    align-items: center;
    height:20%;
    width:20%;
    background: #3F5EFB;
background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
    
}